/**
    * Css SIDE
    * Projet Web
    * @teacher Nicolas Prieur <nicopowa@gmail.com> <https://ilusio.dev/>     
    *
    * @autor Edgar Oblette <edwardoblette@gmail.com>
    * @collegues: Mehdi 
    *              
    * 20/12/2019
    */
    
html {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	-webkit-text-size-adjust: 100%;
	-ms-touch-action: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: helvetica;
	font-size: 10pt;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left_side {
  left: 0;
  background-color: #1e272e;
}

.right_side {
  right: 0;
  background-color: #d2dae2;
}

.msg_emited{
	background-color: #ffdd59
}

.msg_received{
	background-color: #ff5e57

}
.camera-box{
	position: relative;
}


.message_box{
	position:relative;
	display: inline;
}

#camera-container{
	position:relative;
	display: none;
}

#received_video{
	position: relative;
}
#local_video{
	position: absolute;
	left:60%;
	bottom: 0;
	display: inline-block;
}